/*Para el padre*/

/*#padre{
    display: flex;*/
    /*justify-content: flex-start;*/  /*alinea a la izquierda*/
    /*justify-content: flex-end;*/    /*alinea a la derecha*/
    /*justify-content: center;*/     /*alinea al centro*/
    /*justify-content: space-between;*/  /*separa los item sin dejar margen ni al inicio ni al final*/
    /*justify-content: space-around;*/  /*deja el mismo espacio entre los item y un poco menos al inicio y al final*/
    /*justify-content: space-evenly;*/ /*Los items tienen el mismo espacio a su alrededor*/

   /*flex-direction: row;*/ /*Se colocan en fila*/
   /*flex-direction: row-reverse;*/ /*Se colocan en fila en reversa*/
   /*flex-direction: column;*/ /*Se colocan en columna*/
   /*flex-direction: column-reverse;*/ /*Se colocan en columna en reversa*/

    /*flex-direction: wrap;*/       /* Los elementos flex son colocados en varias líneas. 
                                       Si se fuera a desbordar se coloca la siguiente caja en el 
                                       orden que estuviera su flex-direction.*/
    /*flex-direction: nowrap;*/     /* Los elementos flex son distribuidos en una sola línea, lo cual 
                                       puede llevar a que se desborde el contenedor flex.*/
    /*flex-direction: wrap-reverse;*/ /*Actúa como wrap pero cross-start y cross-end están intercambiados.*/
    
    /*align-items: start;*/
    /*align-items: end;*/
    /*align-items: center;*/
    /*align-items: baseline;*/
    /*align-items: stretch;*/

    /*flex-flow: column-reverse wrap-reverse;

    background-color: blue;
}*/



#principal{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-color: #d0d7de;
    padding: 100px;
}

.colores{
   
    background-color: white;
    box-shadow: 0 0 1px;
    border-color: #48490f;
    padding: 20px;
    margin-block-end: 20px;
}

.border {
    padding: 70px;
    border-radius: 5px;
    box-shadow: 0 0 5px;
}
.color1{
    background-color: #6667ab;
   
}
.color2{
    background-color: #939597;
}

.color3{
    background-color: #f5df4d;
}

.color4{
    background-color: #0f4c81;
}

.color5{
    background-color: #ff6f61;
}

.color6{
    background-color: #5f4b8b;
}

.color7{
    background-color: #88B04B;
}

.color8{
    background-color: #F7CACA;
}

.color9{
    background-color: #93a9d1;
}

.color10{
    background-color: #964F4C;
}


.texto {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-stretch: ultra-expanded;
    font-weight: lighter;
}

h1 {
    text-align: center;
    font-family:'Lucida Sans', Verdana, sans-serif;   
}